:root {
  --background-color: #191919;
  --text-color: #ECDBBA;
  --primary-color: #C84B31;
  --accent-color: #2D4263;
  --box-shadow: 0 8px 14px rgba(0,0,0,1);
}
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--background-color);
  background-image: url("./img/bubbles.svg");
  color: var(--text-color);
}
.main-container {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

}

.player {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  text-align: center;
  background: rgba(0,0,0,0.1);
  border: 1px solid;
  border-color: var(--text-color);
  width: 300px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.controls {
  margin-bottom: 20px;
}

.controls button {
  background: var(--primary-color);
  color: var(--text-color);
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid;

  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  transition-duration: 0.3s;
}

.controls button:hover {
  background: var(--accent-color);
  transition-duration: 0.3s;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.playlist {
  border-top: 1px solid;
  padding-top: 10px;
}

.playlist ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.playlist li {
  padding: 10px;
  border-bottom: 1px solid;
  cursor: pointer;
}

.playlist li:hover {
  background: var(--accent-color);
  transition-duration: 0.3s;
}

.playlist li.active {
  font-weight: bold;
  background: var(--primary-color);
  transition-duration: 0.3s;
}

.playlist li.active:hover {
  background-color: var(--accent-color);
  transition-duration: 0.3s;
}

#scroll-bar-container {
  width: 100%;
  height: 10px;
  background: var(--primary-color);
  margin: 10px 0;
  position: relative;

}

#scroll-bar {
  height: 100%;
  background: var(--accent-color);
  width: 0;

}

#time, #duration {
  display: inline-block;
  width: 50px;
  margin: 1rem;
}

#visualizer {
  align-items: center;
  width: 100%;
  /* height: 70%; */
  margin: 0 auto;
  background: var(--background-color);
  border: 1px solid;

  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

header {
  padding: 1rem;
}

footer {
  padding: 2rem;
  margin: 1rem;
}

a {
text-decoration: none;
margin: 1rem;
padding: 6px;
color: var(--text-color);
background-color: var(--primary-color);
border: 1px solid;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition-duration: 0.3s;
}

a:hover {
  background-color: var(--accent-color);
  transition-duration: 0.3s;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

a:focus {
  background-color: none;
}

