html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #999;
}

.main-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.music-container {
  height: 500px;
  width: 400px;
  background: #ddd;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.image-container {
  height: 300px;
  width: 300px;
  position: relative;
  top: -50px;
  left: 50px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.scroll-bar-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.scroll-bar {
  background-color: #222;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.time-duration-container {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

.music-controls-container {
  position: relative;
  top: -15px;
  left: 120px;
  width: 200px;
}

.fas {
  font-size: 30px;
  color: rgb(232, 22, 22);
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
}

.fas:hover {
  filter: invert(30%);
}

@media screen and (max-width: 376px) {
  .music-container {
    width: 95vw;
  }
  .img-container {
    left: 29px;
  }
}
