:root {
  --background-color: #321f28;
  --text-color: #e79e4f;
  --primary-color: #734046;
  --accent-color: #a05344;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--background-color);
  background-image: url("./img/bubbles.svg");
  color: var(--text-color);
}

.main-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.music-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  width: 200px;
  background: var(--primary-color);
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.5);

  background-color: rgba(115, 64, 70, 0.9);
}

.scroll-bar-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.scroll-bar {
  background-color: var(--accent-color);
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.time-duration-container {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

.music-controls-container {
  position: relative;
  top: -15px;
}

.fas {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 25px;
  padding: 5px;
  color: var(--text-color);
  /* margin-right: 30px; */
  cursor: pointer;
  user-select: none;
}

.fas:hover {
  color: var(--accent-color);
}

.footer {
  color: var(--text-color);
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.footer a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 25px;
  padding: 20px;
}

.footer a:hover {
  color: var(--accent-color);
}


@media screen and (max-width: 768px) {
}

.visualizer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  overflow: hidden;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  /* background-color: var(--primary-color); */
  background-color: rgba(115, 64, 70, 0.2);
  margin: 1rem;
}

#visualizer {
  height: 100%;
  width: 100%;
  display: block;
}

.center-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.playlist {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.playlist ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.playlist li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.playlist li:hover {
  background: #f0f0f0;
}

.playlist li.active {
  font-weight: bold;
  background: #e0e0e0;
}